parameters:
  level: 5
  ignoreErrors:
    - '#Parameter \#3 \$options of function setcookie expects array#'
    - '#Property CirclicalUser\\Entity\\UserApiToken::\$creation_time is never read, only written.#'
    - '#Property CirclicalUser\\Service\\PasswordChecker\\PasswordNotChecked::\$creationOptions is never read, only written.#'
    - '#Property CirclicalUser\\Service\\PasswordChecker\\Passwdqc::\$creationOptions is never read, only written.#'
    - '#Property CirclicalUser\\Entity\\UserResetToken::\$status is never read, only written.#'
    - '#Property CirclicalUser\\Entity\\UserResetToken::\$id is never written, only read.#'


