parameters:
  level: 5
  ignoreErrors:
    - '#Property CirclicalUser\\Entity\\UserApiToken::\$creation_time is never read, only written.#'
    - '#Property CirclicalUser\\Service\\PasswordChecker\\PasswordNotChecked::\$creationOptions is never read, only written.#'
    - '#Property CirclicalUser\\Entity\\UserResetToken::\$status is never read, only written.#'
    - '#Parameter \$targetEntity of attribute class Doctrine#'

