<?php

return [
    'circlical' => [
        'user' => [

            /**
             * Configuration settings for the access service
             */
            'access' => [

                'superadmin' => [

                    /**
                     * Superadmin role name, will be sought in the DB when configured.  Please ensure that your
                     * Role entity with this name exists prior to configuration.
                     */
                    'role_name' => null,

                    /**
                     * If the role was named in config, yet the entity was missing, do we crash and burn?
                     */
                    'throw_exception_when_missing' => false,
                ],
            ],


            /*
             * If you are using Doctrine, you simply to specify the Entity you plan to use. It'll get substituted into
             * the CirclicalUser relationships during Bootstrap.  If you are using Doctrine and want to use
             * the default entities and relationships (recommended) -- this is the only config you need!
             */
            'doctrine' => [
                'entity' => \Application\Entity\User::class,
            ],


            /*
             * You can uncomment this to enforce password strength using the Paragon passwdqc implementation.
             * Install the required library with "composer require paragonie/passwdqc", see composer.json for more
             *
             * This will cause the storage and reset flows to throw WeakPasswordExceptions if weak input is passed in.
             */
            //'password_strength_checker' => \CirclicalUser\Service\PasswordChecker\Passwdqc::class,

            // or

            //'password_strength_checker' => [
            //    'implementation' => \CirclicalUser\Service\PasswordChecker\Zxcvbn::class,
            //    'config' => [
            //        'required_strength' => 3,
            //    ],
            //],


            /*
             * Authentication service configuration
             */
            'auth' => [

                /*
                 * A Base64-encoded key, as generated by Halite's key factory
                 * base64_encode( KeyFactory::generateEncryptionKey()->getRawKeyMaterial() );
                 */
                'crypto_key' => 'sfZGFm1rCc7TgPr9aly3WOtAfbEOb/VafB8L3velkd0=',

                /*
                 * Destroy auth cookies when the session ends? (cookie lifespan of 0)
                 */
                'transient' => false,


                /*
                 * Cookies should have the 'secure' flag set to this (accepts bool, or a closure for more advanced discovery)
                 */
                'secure_cookies' => false,

                /*
                 * What SameSite policy do we give cookies?  Can be set to null 'Strict, 'Lax' or 'None'.
                 * Advisory: If the cookie’s attribute SameSite is None the cookie has to be set with flag Secure true.
                 * If the cookie doesn’t have the flag Secure true, the browser ignores the Set-cookie server’s
                 * response header and the cookie is not stored to the browser.
                 */
                'samesite_policy' => 'lax',

                /*
                 * Forgot password functionality
                 */
                'password_reset_tokens' => [

                    /*
                     * However you slice it, forgotten password functionality is a back-door; it's unfortunately often necessary. If you set this to 'true',
                     * you will need to configure a reset provider.
                     */
                    'enabled' => false,

                    /*
                     * Validate browser fingerprints during the token verification process
                     */
                    'validate_fingerprint' => true,

                    /*
                     * Make sure that the request IP matches the verification IP
                     */
                    'validate_ip' => false,

                ],
            ],


            /*
             * When a user tries to access a page gated by auth, or rights - what do we do with them?
             * This user module provides a simple 'Redirect' strategy, but you can also roll your own
             */

            'deny_strategy' => [

                /*
                 * The strategy provider, that implements CirclicalUser\Provider\DenyStrategyInterface
                 */
//                'class' => \CirclicalUser\Strategy\RedirectStrategy::class,

                /*
                 * Options specifically required by RedirectStrategy.  You would probably comment this out if you were
                 * to roll your own.
                 */
//                'options' => [
//                    'controller' => \Application\Controller\LoginController::class,
//                    'action' => 'index',
//                    'name' => 'login',
//                ]
            ],


            /*
             * Advanced Config:
             *
             * If you aren't using Doctrine, you have to uncomment and specify your providers below.
             *
             * If conversely, you are using Doctrine you can override default providers by tweaking what lies
             * below.
             *
             */
            'providers' => [

                //
                // Authentication mapper
                // Implements
                //

//                'auth' => \CirclicalUser\Mapper\AuthenticationMapper::class,


                //
                // User mapper
                // Implements CirclicalUser\Provider\UserProviderInterface
                //

//                'user' => \CirclicalUser\Mapper\UserMapper::class,

                //
                // Role mapper
                // Implements CirclicalUser\Provider\RoleProvider
                //

//                'role' => \CirclicalUser\Mapper\RoleMapper::class,


                // Authentication mapper
                // Implements CirclicalUser\Provider\AuthenticationProviderInterface
                //

                'rules' => [

                    //
                    // Group permission mapper
                    // Implements \CirclicalUser\Provider\GroupPermissionProviderInterface
                    //

//                    'group' => \CirclicalUser\Mapper\GroupPermissionMapper::class,

                    //
                    // User permission mapper
                    // Implements \CirclicalUser\Provider\UserPermissionProviderInterface

//                    'user' => \CirclicalUser\Mapper\UserPermissionMapper::class,

                ],
            ],
        ],
    ],
];
